<!DOCTYPE html>
<html>
	<head>
		<title>Steam Boilerplate</title>
		<link rel="stylesheet" href="/public/css/bootstrap.css">
	</head>
	<body>

		<% if (!user) { %>

			<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Steam Boilerplate</a>
		    </div>
		    <div>
		      <ul class="nav navbar-nav navbar-right">
						<li><a href="/auth/steam"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"></a></li>
		      </ul>

		    </div>
		  </div>
		</nav>

		<% } else { %>

	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Steam Boilerplate</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
			<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="<%= user._json.avatar %>">&nbsp; <%= user.displayName %>&nbsp; <i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/account">Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

		<% } %>



		<%- body %>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
